<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= typeof title !== 'undefined' ? `${title} · Küchen Obermeier` : 'Küchen Obermeier' %></title>
    <meta
      name="description"
      content="Küchen Obermeier – Ihr Küchenstudio für individuelle Planung, hochwertige Geräte und verlässlichen Service in Landau an der Isar."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Playfair+Display:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <% if (typeof extraCss !== 'undefined') { %>
      <% extraCss.forEach((href) => { %>
        <link rel="stylesheet" href="<%= href %>" />
      <% }) %>
    <% } %>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  </head>
  <body>
